In [2]:
import pandas as pd

In [3]:
df_2013 = pd.read_csv("data/evanmiya2013.csv")
df_2014 = pd.read_csv("data/evanmiya2014.csv")
df_2015 = pd.read_csv("data/evanmiya2015.csv")
df_2016 = pd.read_csv("data/evanmiya2016.csv")
df_2017 = pd.read_csv("data/evanmiya2017.csv")
df_2018 = pd.read_csv("data/evanmiya2018.csv")
df_2019 = pd.read_csv("data/evanmiya2019.csv")
df_2021 = pd.read_csv("data/evanmiya2021.csv")
df_2022 = pd.read_csv("data/evanmiya2022.csv")
df_2023 = pd.read_csv("data/evanmiya2023.csv")

In [4]:
df_2013['YEAR'] = '2013'
df_2014['YEAR'] = '2014'
df_2015['YEAR'] = '2015'
df_2016['YEAR'] = '2016'
df_2017['YEAR'] = '2017'
df_2018['YEAR'] = '2018'
df_2019['YEAR'] = '2019'
df_2021['YEAR'] = '2021'
df_2022['YEAR'] = '2022'
df_2023['YEAR'] = '2023'

In [5]:
df_em = pd.concat([df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2021, df_2022, df_2023], ignore_index=True)
df_em.isna().sum()

rank                         0
team                         0
obpr                         0
dbpr                         0
bpr                          0
off_rank                     0
def_rank                     0
tempo                        0
tempo_rank                   0
home_rank                    0
wins                         0
losses                       0
color_O                      0
color_D                      0
color_Diff                   0
YEAR                         0
runs_per_game             3159
runs_conceded_per_game    3159
runs_total                3159
runs_conceded_total       3159
dtype: int64

In [6]:
df_em = df_em[['team', 'YEAR', 'obpr', 'dbpr', 'bpr', 'home_rank']]
df_em.head()

         team  YEAR       obpr       dbpr        bpr  home_rank
0  Louisville  2013  12.182831  15.316494  27.499324        236
1      Kansas  2013  11.948855  14.740787  26.689642         11
2     Gonzaga  2013  16.093534   9.716576  25.810110        107
3    Michigan  2013  17.871829   6.723118  24.594947         68
4     Florida  2013  12.404495  12.017803  24.422298         31

In [8]:
df_em = df_em.rename(columns={'team': 'TEAM', 'obpr':'OBPR', 'dbpr':'DBPR', 'bpr':'BPR', 'home_rank':'HOME_RANK'})
df_em.head()

         TEAM  YEAR       OBPR       DBPR        BPR  HOME_RANK
0  Louisville  2013  12.182831  15.316494  27.499324        236
1      Kansas  2013  11.948855  14.740787  26.689642         11
2     Gonzaga  2013  16.093534   9.716576  25.810110        107
3    Michigan  2013  17.871829   6.723118  24.594947         68
4     Florida  2013  12.404495  12.017803  24.422298         31

In [10]:
df_corr = df_em.drop(['TEAM', 'YEAR'], axis=1)
df_corr.corr()

               OBPR      DBPR       BPR  HOME_RANK
OBPR       1.000000  0.584028  0.904710  -0.126803
DBPR       0.584028  1.000000  0.874197  -0.154782
BPR        0.904710  0.874197  1.000000  -0.157088
HOME_RANK -0.126803 -0.154782 -0.157088   1.000000

In [13]:
df_em['TEAM'] = df_em['TEAM'].str.replace(' state', ' St.', case=False)

In [14]:
df_em.to_csv("data/evanmiya_final.csv", index=False)